PORT=5000
SUPABASE_URL=https://trlqsvanzmqexnzaepty.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRybHFzdmFuem1xZXhuemFlcHR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0NTQ4MTEsImV4cCI6MjEwMzAzMDgxMX0.WhTyE6HroakGdWjAK7bmtJkNFtVNwzO5zycXwbA5_8I